span.ua {
    margin: 0 2px !important;
    color: #FFFFFF !important;
    font-size: 75% !important;
    .fa {
       padding: 0 2px 0 0;
    }
}

.ua_other,.os_other {
    background-color: #ccc !important;
    color: #fff;
    border: 1px solid #BBB !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_firefox {
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_maxthon {
    background-color: #7373B9 !important;
    border-color: #7373B9 !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_baidu {
    background-color: #428bca !important;
    border-color: #357ebd !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_ucweb {
    background-color: #FF740F !important;
    border-color: #d43f3a !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_sogou {
    background-color: #78ACE9 !important;
    border-color: #4cae4c !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_2345explorer {
    background-color: #2478B8 !important;
    border-color: #4cae4c !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_2345chrome {
    background-color: #F9D024 !important;
    border-color: #4cae4c !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_lbbrowser {
    background-color: #FC9D2E !important;
    border-color: #4cae4c !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_wechat {
    background-color: #4cae4c !important;
    border-color: #3D88A8 !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_qq {
    background-color: #3D88A8 !important;
    border-color: #4cae4c !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_mi {
    background-color: #FF4A00 !important;
    border-color: #4cae4c !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_chrome {
    background-color: #EE6252 !important;
    border-color: #4cae4c !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}


.ua_apple {
    background-color: #E95620 !important;
    border-color: #4cae4c !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_opera {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_ie {
    background-color: #428bca !important;
    border-color: #357ebd !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.ua_360 {
    background-color: #44D894 !important;
    border-color: #36CEE1 !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.os_windows {
    background-color: #39b3d7 !important;
    border-color: #46b8da !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}

.os_android {
    background-color: #98C13D !important;
    border-color: #01B171 !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}

.os_ubuntu {
    background-color: #DD4814 !important;
    border-color: #01B171 !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}

.os_linux {
    background-color: #3A3A3A !important;
    border-color: #1F1F1F !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}

.os_apple {
    background-color: #666666 !important;
    border-color: #1F1F1F !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}

.os_unix {
    background-color: #006600 !important;
    border-color: #1F1F1F !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}

.os_symbian {
    background-color: #014485 !important;
    border-color: #1F1F1F !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}

.ua_admin {
    background-color: #00a67c !important;
    border-color: #01B171 !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}
.device {
    background-color: #797979 !important;
    border-color: #1F1F1F !important;
    border-radius: 2px;
    padding: .2em .6em !important;
}


#ds-thread #ds-reset ul.ds-comments-tabs li.ds-tab a.ds-current {
    border: 0px;
    color: #6D6D6B;
    text-shadow: none;
    background: #F3F3F3;
}

#ds-thread #ds-reset .ds-highlight {
    font-family: Microsoft YaHei, "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 100%;
}

#ds-thread #ds-reset ul.ds-comments-tabs li.ds-tab a.ds-current:hover {
    color: #696a52;
    background: #F2F2F2;
}

#ds-thread #ds-reset a.ds-highlight:hover {
    color: #696a52 !important;
}

#ds-thread {
}

#ds-thread #ds-reset li.ds-post,#ds-thread #ds-reset #ds-hot-posts {
    overflow: visible !important;
}

#ds-thread #ds-reset .ds-post-self {
    padding: 16px !important;
}

#ds-thread #ds-reset li.ds-post,#ds-thread #ds-reset .ds-post-self {
    border: 0 !important;
}

#ds-reset .ds-avatar, #ds-thread #ds-reset ul.ds-children .ds-avatar {
    /*top: 23px;
    left: -20px;*/
    /*padding: 5px;*/
    width: 45px;
    height: 45px;
    box-shadow: none !important;
    border-radius: 46px !important;
    background: #FAFAFA;
}

#ds-thread .ds-avatar a {
    display: inline-block;
    /*padding: 1px;*/
    width: 45px;
    height: 45px;
    /*border: 1px solid #b9baa6;*/
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);*/
    border-radius: 50%;
    background-color: #fff !important;
}

#ds-thread .ds-avatar a:hover {
}

#ds-thread .ds-avatar > img {
    /*margin: 2px 0 0 2px;*/
}
#ds-thread .ds-avatar .ds-service-icon {
    border-radius: initial;
}

#ds-thread #ds-reset .ds-replybox {
    box-shadow: none;
}

#ds-thread #ds-reset ul.ds-children .ds-replybox.ds-inline-replybox a.ds-avatar,
#ds-reset .ds-replybox.ds-inline-replybox a.ds-avatar {
    left: 0;
    top: 0;
    padding: 0;
    width: 32px !important;
    height: 32px !important;
    background: none;
    box-shadow: none;
}

#ds-reset .ds-replybox.ds-inline-replybox a.ds-avatar img {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
}

#ds-reset .ds-replybox a.ds-avatar,
#ds-reset .ds-replybox .ds-avatar img {
    padding: 0;
    width: 50px !important;
    height: 50px !important;
    border-radius: 5px;
}

#ds-reset .ds-avatar img {
    width: 45px !important;
    height: 45px !important;
    border-radius: 32px !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    transition: .4s all ease-in-out;
}

#ds-thread #ds-reset .ds-comment-body {
    // -webkit-transition-delay: initial;
    // -webkit-transition-duration: 0.4s;
    // -webkit-transition-property: all;
    // -webkit-transition-timing-function: initial;
    // background: rgba(255,255,255,0.5);
    // padding: 15px 15px 15px 47px;
    // /*border-radius: 5px;*/
    // /*box-shadow: #B8B9B9 0 1px 3px;*/
    // /*border: white 1px solid;*/
}

#ds-thread #ds-reset ul.ds-children .ds-comment-body {
    padding-left: 60px !important;
}

#ds-thread #ds-reset .ds-comment-body p {
    color: #787968;
    margin: 1em 0 !important;
}

#ds-thread #ds-reset .ds-comments {
    border-bottom: 0px;
}

#ds-thread #ds-reset .ds-powered-by {
    display: none;
}

#ds-thread #ds-reset .ds-comments a.ds-user-name {
    font-weight: normal;
    
}



#ds-thread #ds-reset #ds-bubble {
    display: none !important;
}

#ds-thread #ds-reset #ds-hot-posts {
    border: 0 !important;
}

#ds-reset #ds-hot-posts .ds-gradient-bg {
    background: none;
}

#ds-thread #ds-reset .ds-post-toolbar {
    box-shadow: none !important;
}
#ds-thread #ds-reset .ds-textarea-wrapper textarea {
    font-family: Microsoft Yahei,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#ds-thread #ds-reset .ds-textarea-wrapper {
    border: 0 !important;
    background: none !important;
    border-radius: 0px !important;
}
#ds-reset .ds-gradient-bg{
    background: none !important;
}
#ds-thread #ds-reset .ds-post-button{
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border-radius: 0px !important;
    transition: .3s all ease-in-out;
    &:after{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0px;
        background: #4184f3;
        transition: .3s height ease-in-out;
    }
}
#ds-thread #ds-reset .ds-post-button:hover {
    background: none !important;    
    &:after{
        height: 4px;
    }
}

#ds-thread #ds-reset .ds-post-options {
    border: 0 !important;
    border-radius: 0px !important;
}

#ds-thread #ds-reset .ds-comment-header {
    line-height: 45px !important;
    padding-top: 0 !important;
}

#ds-thread #ds-reset .ds-toolbar-button{
    position: relative !important;
    background: none !important;
    &.ds-add-emote {
        &:before{
            content: "\f118";
            position: absolute;
            font: 19px FontAwesome;
            width: 100%;
            height: 100%;
        }
    }
    &.ds-add-image {
        &:before{
            content: "\f03e";
            position: absolute;
            font: 19px FontAwesome;
            width: 100%;
            height: 100%;
        }
    }
}
body {
    #ds-thread #ds-reset a.ds-like-thread-button{
        border: 0; 
        box-shadow: none; 
        margin-right: 15px;
        background: none;
        position: relative;
        padding: 8px 4px;
        &:after{
            background: #ff6b6b;
            content: "";
            position: absolute;
            height: 4px;
            left: 50%;
            right: 50%;
            bottom: 0;
            transition: 0.2s all ease-in-out;
        }
        &:hover:after{
            left: 0;
            right: 0;
        }
        .ds-icon.ds-icon-heart{
            background: none;
            height: 14px;
            color: #FF6B6B;
            &:before{
                content: "\f08a";
                font: 14px FontAwesome;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    #ds-thread #ds-reset .ds-like-tooltip{
        background: #FEFEFE;
        filter: none;
        border: none;
        border-radius: 2px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
        padding: 16px;
    }
}

body #ds-thread #ds-reset a.ds-like-thread-button.ds-thread-liked{
    .ds-icon.ds-icon-heart{
        &:before{
            content: "\f004";
        }
    }
}

@media screen and (max-width: 500px){
    #ds-thread #ds-reset .ds-comment-header {
        line-height: inherit !important;
        padding: 0 0 0 60px !important;
    }
    #ds-thread.ds-narrow #ds-reset .ds-comment-body, #ds-thread.ds-narrow #ds-reset .ds-replybox {
        padding-left: 0 !important;
    }
    #ds-reset .ds-avatar {
        margin-top: 10px;
    }
    #ds-thread.ds-narrow #ds-reset .ds-post-self {
        padding: 10px !important;
    }
    #ds-thread #ds-reset .ds-comment-body p {
        color: #787968;
        margin: .5em 0 !important;
    }
    .ds-replybox .ds-avatar {
        display: none;
    }
    
}
