#footer {
	font-size: 12px;
	font-family: Consolas, Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
	text-shadow: 0 1px #fff;
	position: relative;
	bottom: 30px;
	opacity: 0.6;
	/*width: 100%;*/
	text-align: center;
	margin: 0 40px;
	.outer{
		/*padding: 0 30px;*/
		#footer-info{
			line-height: 20px;
		}
	}
}
.footer-left{
  float: left;
}
.footer-right{
  float: right;
}