#page-nav{
	text-align: center;
	margin-top: 30px;
    transition: 0.4s ease-in-out;
	.page-number{
		display: inline-block;
    	line-height: 34px;
    	padding: 0 1em;
    	margin: 0 2px;
    	font-size: 14px;
    	color: #727272;
    	border-radius: 3px;
    	transition: 0.4s ease-in-out;
		&:hover{
			color: #4184f3;
    		background: #dadada;
		}
	}
	.current{
		background: #4184f3;
		color: white;
		cursor: default;
		&:hover{
			color: white;
			background: #4184f3;
		}
	}
	.extend{
		display: inline-block;
    	line-height: 34px;
    	padding: 0 1em;
    	margin: 0 2px;
    	font-size: 14px;
    	color: #727272;
    	border-radius: 3px;
    	transition: 0.4s ease-in-out;
		&:hover{
			color: #4184f3;
    		background: #dadada;
		}
	}
	&:hover{
		.extend{
			opacity: 1;
		}
	}
}