.search-box{
	box-sizing: border-box;
    padding: 0 15px;
    position: relative
    #search{
    	border: 0 transparent;
    	background: none;
    	position: absolute;
    	left: 35px;
    	bottom: 0px;
    	width: 1px;
    	transition: width .3s ease-in-out;
    	outline: none;
    	font: inherit;
    	&:focus{
    		width: 86px;
			&+.search-icon #searchAnimatorSVG #magnifier{
				stroke-dashoffset: 0;
				animation: magnifier-show-anime .3s ease-in-out forwards;
			}
			&+.search-icon #searchAnimatorSVG #underline{
				stroke-dashoffset: 1700;
				animation: underline-show-anime .3s ease-in-out forwards;
			}
    	}
    }
}
.search-icon {
	display: inline-block;
	#searchAnimatorSVG{
		vertical-align: middle;
		height: 17px;		
		width: 100%;
		stroke: #000000;
		stroke-width: 15px;
		#magnifier{
			stroke-dasharray: 810;
			stroke-dashoffset: 810;
			animation: magnifier-hide-anime .3s ease-in-out forwards;
		}
		#underline{
			stroke-dasharray: 1700;
			stroke-dashoffset: 0;
			animation: underline-hide-anime .3s ease-in-out forwards;
		}
	}
}

@keyframes magnifier-show-anime {
	to {
		stroke-dashoffset: 810;
	}
}
@keyframes underline-show-anime {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes magnifier-hide-anime {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes underline-hide-anime {
	to {
		stroke-dashoffset: 1700;
	}
}