
name: Build & Deploy

on:
  push:
    branches: [ "source" ]

jobs:
  default:

    runs-on: ubuntu-latest

    steps:
    - name: Set Timezone
      # You may pin to the exact commit or the version.
      # uses: szenius/set-timezone@ce9c440bc3af4f51b28d7ef7e5c47ee8f26c8dcb
      uses: szenius/set-timezone@v1.2
      with:
        # Desired timezone for Linux
        timezoneLinux: Asia/Tokyo
    # Checkout Repository
    - uses: actions/checkout@v3
    - name: Setup Node.js environment
      uses: actions/setup-node@v6
      with:
        # Version Spec of the version to use from package.json
          node-version-file: 'package.json'
    - run: npm i
    - run: npm run build

    # Set the date time
    - name: Retrieve current Date Time in Tokyo TimeZone
      shell: bash
      run: echo "START_TIME=$(date -R)" >> $GITHUB_ENV

    # clone 现在的线上以延续tree
    - name: Clone Github Pages Site folder
      uses: actions/checkout@v3
      with:
        ref: 'master'
        path: '.deploy_git'
    - name: Deploy to GitHub Pages
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        rm -rf .deploy_git/* && mv dist/* .deploy_git/
        touch .deploy_git/.nojekyll
        cd .deploy_git && git add . && git commit -m "Site updated: ${{ env.START_TIME }}"
        git push

